<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Comand Voice</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css"/>

</head>
<body>
  <div class='container22'>
     <h1> Pode Falar! </h1>
    </div>
  <div class='container22'>
     <h1>---------------------------</h1>
  </div>
  <div class='container22'>
     <p>Você disse: <b id="output"></b> </p>
  </div>
  
  
</body>

<script>
ComandVoice.js
</script>
</html>
