<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>



<body>
  <div class='container55'>
    <h2>Click no Botão abaixo</h2>
  </div>
  
  <div class='container22'>
<button>
<a href="https://test7.lucasteixeira23.repl.co/comandvoice">Comand voice</a>
</button>
  </div>
</body>
</html>
