<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body>
  <div class='container22'>
<h1>Login</h1>
  </div>
  
<div class='container22'>
<form action='/login' method='post'>

  <p>UserName</p>
  <input type='text' name='username' required/>
  <br>

  <p>PassWord</p>
  <input type='password' name='password' required/>
  <br>
  
  <input type='submit'/>
  
</form>
</div>
  
</body>